

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.active {
	background-color: aqua;
}

#content {
	margin:10px auto;
}

.button {
	border: 1px solid #cacaca;
	border-radius: 5px;
}














